/*General*/
*{
    box-sizing: border-box;
}

body, html{
    background-color: #181818;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    -webkit-text-size-adjust: none;
}

/*Scrollbar*/
body::-webkit-scrollbar {
    width: 7px;  
    height: 7px;
  }
  
  body::-webkit-scrollbar-track {
    background: none;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border-radius: 20px;
    border: none; 
  }

  body::-webkit-scrollbar-corner{
      background: none
  }

/*Menu superior*/
/*Superior menu*/
.menu_superior{
    width: 100%;
    height: 6%;
    background-color: #202020;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 0.3vh solid #373737;
    overflow: hidden;
}

#logo{
    height: 40%;
    margin-left: 2vw;
    cursor: pointer;
    float: left;
}

#pesquisa{
    background-color: #181818;
    color: white;
    outline: none;
    border: 0.2vh solid #373737;
    width: 35%;
    height: 70%;
    margin-left: 20%;
    border-radius: 1px;
}
#pesquisa::placeholder{
    color: gray;
}

.botaomenu{
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    margin-left: 1.5vw;
    float: left;
}

#more{
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    margin-left: 1%;
    margin-right: 1%;
}

#appsYT{
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    float: left;
    margin-left: 17%;
}

#login{
    background-color: transparent;
    color: #3EA6FF;
    outline: none;
    border: 0.2vh solid #3EA6FF;
    border-radius: 3px;
    height: 70%;
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    
}

/*Menu lateral*/
/*Side menu*/
.menu_lateral{
    width: 15%;
    height: 100%;
    background-color: #212121;
    color: white;
    display: block;
    float: left;
}

.menu_lateral button{
    background-color: #212121;
    color: white;
    border: none;
    display: flex;
    align-items: center;

    cursor: pointer;
    height: 5%;
    width: 100%;
}

.menu_lateral button span{
    margin-left: 10%;
}

.menu_lateral button h3{
    margin-left: 8%;
}

.menu_lateral button:hover{
    background-color: #383838;
}

#botaohome{
    background-color: #383838;
}

#botaoinscricoes{
    border-bottom: 0.3vh solid #373737;
}

#botaohistorico{
    border-bottom: 0.3vh solid #373737;
}

#loginSide{
    background-color: transparent;
    color: #3EA6FF;
    outline: none;
    border: 0.2vh solid #3EA6FF;
    border-radius: 3px;
    height: 5%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10%;
}

#pSide{
    text-align: left;
    cursor: text;
    width: 70%;
    margin-left: 10%;
    font-size: medium;
}

/*Menu de categorias*/
/*Categories menu*/
.categorias{
    width: 85%;
    height: 5%;
    background-color: #202020;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    float: right;

    border-bottom: 0.3vh solid #373737;
}

#categoria{
    background-color: #373737;
    color: white;
    cursor: pointer;
    border-color: #4b4b4b;
    border-style: solid;

    border-radius: 50px;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
}

#categoria:hover{
    background-color: #4d4d4d;
}

#categoria1{
    background-color: white;
    color: black;
    cursor: pointer;

    border-radius: 50px;
    padding: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
}

/*Videos*/
.videos{
    width: 85%;
    height: 89%;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.videos .videoModel{
    margin-top: 2%;
    margin-left: 2%;
}
